<form class="form-inline">
  <select
    class="form-control"
    ng-options="region for region in regions track by region"
    ng-model="displayConfig.region"
    >
  </select>
  <select
    class="form-control"
    ng-options="operatingSystem for operatingSystem in operatingSystems track by operatingSystem"
    ng-model="displayConfig.os"
    >
  </select>
</form>

<table class='table table-hover'>
  <thead>
    <td>Instance Name</td>
    <td>ECU</td>
    <td>vCPU</td>
    <td>RAM</td>
    <td>Storage</td>
    <td>SSD</td>
    <td>EBS Optimised</td>
    <td>Cost per hour</td>
  </thead>
  <tr
    ng-repeat="instance in instances |
      validInstances:displayConfig.region:displayConfig.os |
      orderInstances:displayConfig.region:displayConfig.os"
    instance="instance"
    display-config="displayConfig"
    >
  </tr>
</table>
